
/*注册页面*/
#background{
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: -1;
		overflow: hidden;/*自适应整个屏幕*/
	}
/*.login_bj{ background:url(../images/bg_login2.jpg) no-repeat top center; background-size: cover;}*/
.zhuce_body{ float:left; width:100%; height:auto;}
.zhuce_body .logo{ width:350px; height:100px; margin:90px 0 0 175px;}
.zhuce_body .zhuce_kong{ position:absolute; top:50%; left:50%; width:600px; margin-left:-155px; margin-top:-170px;}
.zhuce_body .zhuce_kong .zc{width:600px; height:378px;}
.zhuce_body .zhuce_kong .zc .bj_left{ float:left; width:314px; min-height:300px; padding-left:50px; background:#FFF;position: relative;}
.zhuce_body .zhuce_kong .zc .bj_left h3{ font:16px/70px "微软雅黑", "黑体"; color:#333333; width:270px; text-align:center;margin-top: 15px;}
.change{
	position: absolute;
	top: 5px;
	right: 10px;
	cursor: pointer;
	/*border: 1px solid #333;*/
}
.change:hover{
	color: #FF6347;
}
.re_login{
	position: absolute;
	top: 5px;
	right: 93px;
	cursor: pointer;
}
.re_login:hover{
	text-decoration: none;
	color: #000;
}
.zhuce_body .zhuce_kong .zc .bj_right{ float:left;width:185px; height:378px; padding-left:51px; background:#f8f8f8;}
.zhuce_kong > p{font:16px/70px "微软雅黑", "黑体"; text-align:center; color:#fff;}
.zhuce_body .zhuce_kong .zc .bj_left .kuang_txt{ width:236px; height:32px; border:1px solid #dddddd; line-height:32px; padding-left:32px; color:#b1a9a9;  margin-bottom:10px; }
.zhuce_body .zhuce_kong .zc .bj_left .kuang_txt:hover{border-color: #F06F11;border-radius: 3px;}
.zhuce_body .zhuce_kong .zc .bj_left .kuang_txt:focus{border-color: #0065D0;border-radius: 3px;}
.zhuce_body .zhuce_kong .zc .bj_left .btn_zhuce{ width:270px; height:33px; background:#37b5f9; font-size:14px; line-height:33px; text-align:center; border:0px; color:#fff; border-radius:3px; cursor:pointer;}
.zhuce_body .zhuce_kong .zc .bj_left .btn_zhuce:hover{ background:#0065d0;}
.zhuce_body .zhuce_kong .zc .bj_left #createResult{margin-top:10px ;font-size: 15px; color: red;display: block;text-align: center;width: 220px; }

.zhuce_body .zhuce_kong .zc .bj_left .phone{background:url(../images/zc_06.jpg) no-repeat 10px 10px;}
.zhuce_body .zhuce_kong .zc .bj_left .email{background:url(../images/zc_12.jpg) no-repeat 10px 10px;}
.zhuce_body .zhuce_kong .zc .bj_left .password{background:url(../images/zc_16.jpg) no-repeat 10px 10px;}
.zhuce_body .zhuce_kong .zc .bj_left .yanzm{background:url(../images/zc_19.jpg) no-repeat 10px 10px; margin-bottom:0px;}

.zhuce_body .zhuce_kong .zc .bj_left div{ float:left; width:100%; line-height:43px;}
.zhuce_body .zhuce_kong .zc .bj_left div input{ float:left; margin-top:15px;}
.zhuce_body .zhuce_kong .zc .bj_left div span{ padding-left:5px;}
.zhuce_body .zhuce_kong .zc .bj_left div .lan{ color:#19aaf8; padding-left:0px;}


.zhuce_body .zhuce_kong .zc .bj_right P { width:135px; font:12px/60px ""; color:#999999;}
.zhuce_body .zhuce_kong .zc .bj_right P a{ color:#37b5f9;}
.zhuce_body .zhuce_kong .zc .bj_right > a{ float:left; width:82px; height:28px; padding-left:51px; line-height:28px; margin-bottom:15px; border-radius:3px; }
.zhuce_body .zhuce_kong .zc .bj_right .zhuce_qq{ border:1px solid #37b5f9; color:#37b5f9; background:url(../images/zc_03.jpg) no-repeat 28px 7px #fff;}/*QQ注册，微博，微信图片*/
.zhuce_body .zhuce_kong .zc .bj_right .zhuce_wb{ border:1px solid #f26d7e; color:#f26d7e; background:url(../images/zc_10.jpg) no-repeat 28px 7px #fff;}
.zhuce_body .zhuce_kong .zc .bj_right .zhuce_wx{ border:1px solid #00c800; color:#00c800; background:url(../images/zc_15.jpg) no-repeat 28px 7px #fff;}
.zhuce_qq:hover,.zhuce_wb:hover,.zhuce_wx:hover{cursor: not-allowed;text-decoration: none;}

/*错误提示*/
label.error {margin-bottom: 10px;margin-left: 5px;color: red;font-size: 14px; font-weight: bold; clear: both;  display: inline-block; border: 1px solid red;background-color: #DDDDDD;background:url(../images/no.png) no-repeat 1px 1px; padding-left: 16px;}
input.error {border: 1px solid red;}

/*dialog提示框的样式*/
.save_success,.save_failed,.save_start{
	height: 32px;
	line-height: 32px;
	padding-left: 35px;
	background-size: contain;
	display: block;
}
.save_success{
	background: url(../images/success32.png) no-repeat 0 0;	
}
.save_failed{
	background: url(../images/failed.png) no-repeat 0 0;
}
.save_start{
	background: url(../images/loading2.gif) no-repeat 0 0;	
	line-height: 37px;
	padding-left: 40px;
}
