@charset "utf-8";
body {
	background-color: #F5F5F5;
}

.bor {
	border: 1px solid #ddd;
}
#createResult_red,
#createResult_green {
	color: #fff;
	display: none;
	font-size: 20px;
	height: 30px;
	line-height: 30px;
	margin-left: 40px;
	text-align: center;
	width: 200px;
}

#createResult_red {
	background-color: #FF6347;
}

#createResult_green {
	background-color: #228B22;
}


/*注册页面*/

#background {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
	overflow: hidden;
	/*自适应整个屏幕*/
	background: url(../images/bg_login480.jpg) no-repeat;
	background-size: 100% 100%;
}


/*消除在chrome下表单自动填充背景为黄色*/


/*.zhuce_body .zhuce_kong .zc .bj_left .kuang_txt:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px white inset;
	border: 1px solid #CCC!important;
}*/


/*登录页面*/

.zhuce_body {
	width: 100%;
	/*padding-top: 5%;*/
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-55%);
}

.logo_login {
	width: 60%;
	margin: 0 auto;
}

.logo_login img {
	width: 100%;
}

.bj_left {
	width: 100%;
	padding: 4%;
	box-sizing: border-box;
	text-align: center;
}

.bj_left h3 {
	font-size: 7vw;
	color: #37b5f9;
	font-weight: normal;
	margin-bottom: 15px;
    text-align: left;
    text-indent: 9%;
}

.kuang_txt {
	width: 80%;
	height: 40px;
	border: 1px solid #dddddd;
	line-height: 40px;
	padding-left: 30px;
	color: #b1a9a9;
	margin-bottom: 10px;
	box-sizing: border-box;
	/*float: left;*/
	background-color: #fff !important;
}

.zhuce_body .zhuce_kong .zc .bj_left div {
	width: 80%;
	line-height: 40px;
	margin: 0 auto;
    text-align: left;
}

.bj_right {
	display: none;
}

.toggle_btn {
	color: #fff;
	display: block;
	/*float: left;*/
	width: 80%;
	margin-top: 15px;
	text-align: center;
	margin: 0 auto;
}

.toggle_btn:hover,
.toggle_btn:active {
	color: #0065d0;
	text-decoration: none;
}

.zhuce_body .login_kuang .zc .bj_left div a {
	color: #37b5f9;
	float: right;
}


/*忘记密码？*/


/*按钮设置:边框圆角,鼠标移入形状颜色改变*/

.zhuce_body .login_kuang .zc .bj_left .btn_denglu {
    width: 80%;
    height: 43px;
    background: #37b5f9;
    font-size: 18px;
    line-height: 43px;
    text-align: center;
    border: 0px;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 10px;
}

.zhuce_body .login_kuang .zc .bj_left .btn_denglu:hover {
	background: #0065d0;
}


/*注册页面*/

.zhuce_body .zhuce_kong .zc .bj_left .kuang_txt:focus {
	border-color: #0065D0;
	border-radius: 3px;
}

.btn_code {
	width: 45%;
	height: 40px;
	background: #37b5f9;
	font-size: 14px;
	line-height: 40px;
	text-align: center;
	border: 0px;
	color: #fff;
	border-radius: 3px;
	cursor: pointer;
	/*float: left;*/
	margin-left: 3%;
}

.zhuce_body .zhuce_kong .zc .bj_left .btn_zhuce {
	width: 80%;
	height: 43px;
	background: #37b5f9;
	font-size: 18px;
	line-height: 43px;
	text-align: center;
	border: 0px;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
	margin-bottom: 10px;
	box-sizing: border-box;
}

.zhuce_body .zhuce_kong .zc .bj_left .btn_zhuce:hover {
	background: #0065d0;
}

.zhuce_body .zhuce_kong .zc .bj_left #createResult {
    margin-top: 10px;
    font-size: 5vw;
    color: red;
    display: block;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    /*float: left;*/
}

.phone {
	background: url(../images/zc_06.jpg) no-repeat 10px 10px;
}

.email {
	background: url(../images/zc_12.jpg) no-repeat 10px 10px;
}

.password {
	background: url(../images/zc_16.jpg) no-repeat 10px 10px;
}

.yanzm {
	background: url(../images/zc_19.jpg) no-repeat 10px 10px;
	margin-bottom: 0px;
	width: 50%;
}

.wjmm input {
	float: left;
	margin-top: 15px;
}

.zhuce_body .zhuce_kong .zc .bj_left div span {
	padding-left: 5px;
	/*float: left;*/
}

.zhuce_body .zhuce_kong .zc .bj_left div .lan {
	color: #19aaf8;
	padding-left: 0px;
}


/*错误提示*/

label.error {
	margin-bottom: 10px;
	margin-left: 5px;
	color: red;
	font-size: 14px;
	font-weight: bold;
	clear: both;
	display: inline-block;
	border: 1px solid red;
	background-color: #DDDDDD;
	background: url(../images/no.png) no-repeat 1px 1px;
	padding-left: 16px;
}

input.error {
	border: 1px solid red;
}
/*忘记密码页面*/
.bj_kuang {
	width: 100%;
	position: relative;
	height: 100%;

}

.bj_kuang h3 {
	font: 8vw/20vw "微软雅黑", "黑体";
	color: #fff;
	width: 80%;
	text-align: center;
	/*margin-top: 15px;*/
}
.code_box{
	margin-bottom: 10px;
}
.bj_kuang .yanzm{
	width: 50%;
	margin-top: 0; 
	margin-bottom: 10px;
}

.change:hover {
	color: #FF6347;
}

.re_login:hover {
	text-decoration: none;
	color: #000;
}
.zhmm_box{
	display: block;
	position: absolute;
	bottom: -10%;
	left: 50%;
	transform: translateX(-50%);
	width: 80%;
	text-align: center;
}

.change:hover {
	color: #FF6347;
}


.re_login:hover {
	text-decoration: none;
	color: #000;
}

/*——————————————————————————————————————index首页页面————————————————————————————————*/
@-webkit-keyframes fadeInRight{
	0%{opacity:1;-webkit-transform:translate(0,0);}
	100%{opacity:0;-webkit-transform:translate(100%,0);}
	}

@keyframes fadeInRight {
	0% {
		opacity: 1;
		transform: translate(0,0);
	}
	100% {
		opacity: 0;
		transform: translate(100%,0);
	}
}

@keyframes fadeOutRight {
	0% {
		opacity: 0;
		transform: translate(100%,0);
	}
	100% {
		opacity: 1;
		transform: translate(0,0);
	}
}

@-webkit-keyframes fadeOutRight{
	0%{opacity: 0;-webkit-transform: translate(100%,0);}
	100%{opacity: 1;-webkit-transform: translate(0,0);}
}

.fadeInRight {
	animation-name: fadeInRight;
	-webkit-animation-name: fadeInRight;
}

.fadeOutRight {
	animation-name: fadeOutRight;
	-webkit-animation-name: fadeOutRight;
}

.fadeInRight,
.fadeOutRight {
	-webkit-animation-duration: .3s;
	animation-duration: .3s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}
.user_mobile{
	display: block;
	width: 40px;
	height: 40px;
	border: none;
	position: fixed;
	top: 5px;
	right: 6px;
	z-index: 10000;
	box-sizing: border-box;
	cursor: pointer;
}
.user_mobile img{
	width: 90%;
	height: 90%;
}

.top {
	width: 190px;
	height: 100%;
	background-color: #fff;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1000;
	padding-top: 50px;
	box-shadow: 3px 0 3px rgba(0, 0, 0, .4);
	transform: translate(100%, 0);
	opacity: 0;
}

.top_content_l,.top_content .top_content_r,.top_content_user {
	float: left;
	width: 100%;
}
/*进入后台管理系统*/
.top_content_l{
	background-color: #228b22;
	height: 40px;
	line-height: 40px;
	font-size: 5vw;
	padding-left: 2%;
}
.top_content_l a{
	color: #fff;
}

.top_content .top_content_r li,.top_content_user li {
	width: 100%;
	height: 43px;
    border-bottom: 1px solid #ececec;
    line-height: 43px;
    text-indent: 1em;
}

#pic_tx {
	display: block;
	float: left;
	/*margin-right: 5px;*/
	/*margin-top: 5px;*/
	width: 43px;
	height: 43px;
	background-color:#ececec ;
}

#pic_tx img {
	border-radius: 50%;
	width: 100%;
	height: 100%;
}

.top_content_user li span {
	/*display: none;*/
	margin-right: 10px;
}

.user {
	text-indent: 1em;
	display:block;
	/*float: left;*/
	font-size: 16px;
	height: 43px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	width: 147px;
	background-color: #ECECEC;
}


/*箭头图标*/


.user_ico {
	display: none;
}

.top_content_nav a:hover,
.top_content_nav a:focus {
	color: #eb4f38;
	text-decoration: none;
}


/*用户信息卡*/

.top_content_user .userCard {
	width: 100%;
	background-color: #fff;
	float: left;
}

.top_content_user .userCard a {
	display: block;
	color: #000;
	width: 100%;
	height: 43px;
	line-height: 43px;
	/*text-align: center;*/
	white-space: nowrap;
	border-bottom: 1px solid #ececec;
	/*禁止文字自动换行*/
}

.top_content_user .userCard a:hover {
	background-color: #30393A;
	color: #FFFFFF;
}



/*登录注册*/
.top_content .top_content_r li{
	width: 100%;
	height: 43px;
    border-bottom: 1px solid #ececec;
}
.top_content .top_content_r li a {
    text-indent: 1em;
    display: block;
    line-height: 43px;
    font-size: 16px;
    color: #525252;
}
.top_content_r li a:hover,
.top_content_r li a:active,
.top_content_l a:hover,
.top_content_l a:active {
    color: #000;
    text-decoration: none;
    background: #fbfbfb;
}


/*logo栏目*/

.wrap_logo {
	background-color: #fafafa;
	/*雪白*/
	width: 100%;
	/*display: block;*/
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10000;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	overflow: hidden;
	height: 50px;
	padding-top: 1%;
	padding-bottom: 1%;
	box-sizing: border-box;
}

.logo .logo_left img {
	width: 40%;
	margin: 0 auto;
	display: block;
	z-index: 10000;
}

.logo_right {
	display: none;
}


/*移动端menu*/

#menutoggle {
	display: block;
	width: 40px;
	height: 40px;
	border: none;
	background: none;
	text-indent: -9999em;
	border-radius: 3px;
	position: fixed;
	top: 5px;
	left: 6px;
	z-index: 10000;
	box-sizing: border-box;
	cursor: pointer;
}

#menutoggle::after {
	content: '';
	width: 22px;
	position: absolute;
	left: 9px;
	top: 0px;
	box-shadow: 0 10px 0 2px #FF6347, 0 20px 0 2px #FF6347, 0 30px 0 2px #FF6347;
}

.nav_mid {
	opacity: 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 60%;
	height: 100%;
	background: #fff;
	z-index: 1000;
	box-shadow: 3px 0 3px rgba(0, 0, 0, .4);
	transform: translate(-100%, 0);
}


@-webkit-keyframes fadeInLeft{
	0%{opacity:1;-webkit-transform:translate3d(0,0,0);}
	100%{opacity:0;-webkit-transform:translate3d(-100%,0,0);}
	}

@keyframes fadeInLeft {
	0% {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
	100% {
		opacity: 0;
		transform: translate3d(-100%, 0, 0);
	}
}

@keyframes fadeOutLeft {
	0% {
		opacity: 0;
		transform: translate(-100%, 0);
	}
	100% {
		opacity: 1;
		transform: translate3d(0, 0, 0)
	}
}

@-webkit-keyframes fadeOutLeft{
	0%{opacity: 0;-webkit-transform: translate3d(-100%,0,0);}
	100%{opacity: 1;-webkit-transform: translate3d(0,0,0);}
}

.fadeInLeft {
	animation-name: fadeInLeft;
	-webkit-animation-name: fadeInLeft;
}

.fadeOutLeft {
	animation-name: fadeOutLeft;
	-webkit-animation-name: fadeOutLeft;
}

.fadeInLeft,
.fadeOutLeft {
	-webkit-animation-duration: .3s;
	animation-duration: .3s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}


/*导航条文字列*/

.nav_mid ul {
	padding-top: 50px;
}

.nav_mid li {
	border-bottom: 1px solid #ececec;
}

.nav_mid li a {
	text-indent: 1em;
	display: block;
	line-height: 43px;
	font-size: 16px;
	color: #525252;
}

.nav_mid li a:hover,
.nav_mid li a:active {
	color: #000;
	text-decoration: none;
	background: #fbfbfb;
}


/*wrap大的包裹层*/

.wrap {
	width: 100%;
	margin: 0 auto;
	background-color: #fff;
	/*box-shadow: 0 0 10px #999;*/
	position: relative;
	margin-top: 50px;
}

.hengxian {
	display: none;
}

/*中间五个items*/

.itemBg {
	overflow: hidden;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 20px;
}

.item li a {
	float: left;
	height: 80px;
	position: relative;
	width: 50%;
	border-bottom: 1px solid #E5E5E5;
	border-right: 1px solid #E5E5E5;
	box-sizing: border-box;
	padding-left: 5%;
	padding-top: 5%;
}

.item li:nth-child(odd) a {
	border-left: 1px solid #E5E5E5;
}

.item li:nth-child(1) a,
.item li:nth-child(2) a {
	border-top: 1px solid #E5E5E5;
}

.item li a:hover {
	color: #FF6347;
	text-decoration: none;
}


/*图片*/

.item li a em {
	background-image: url(../images/icon.png);
	background-repeat: no-repeat;
	display: block;
	float: left;
	height: 46px;
	margin-right: 15px;
	transition: all 0.3s linear 0s;
	/*从0秒开始经过0.3秒的时间 用linear(一种线性设置)缓慢改变背景颜色*/
	width: 46px;
}

.item li a span {
	float: left;
	font-size: 12px;
}

.item li a span strong {
	display: block;
	font: 5vw/7vw "微软雅黑";
}

.special01 a em {
	background-position: 0 -100px;
}

.special01 a:hover em {
	background-position: 0 -146px;
}

.special02 a em {
	background-position: -46px -100px;
}

.special02 a:hover em {
	background-position: -46px -146px;
}

.special03 a em {
	background-position: -92px -100px;
}

.special03 a:hover em {
	background-position: -92px -146px;
}

.special04 a em {
	background-position: -138px -100px;
}

.special04 a:hover em {
	background-position: -138px -146px;
}

.special05 a em {
	background-position: -184px -100px;
}

.special05 a:hover em {
	background-position: -184px -146px;
}

.item .special05 a {
	width: 100%;
}

.item .special05 a div {
	margin: 0 auto;
	width: 50%;
	height: 100%;
}


/*new栏目的样式*/

.new {
	/*height: 280px;*/
	/*border-bottom: 1px solid #e5e5e5;*/
	/*margin-bottom: 20px;*/
	overflow: hidden;
}

.title {
	color: #c5c5c5;
	font-weight: normal;
	height: 32px;
	text-decoration: none;
}

.title span {
	color: #228B22;
	font: 6vw/6vw "微软雅黑";
}

.title a:hover,
.title a:active {
	color: #FF6347;
	text-decoration: none;
}

.new_left,
.new_right,
.new_mid {
	float: left;
	width: 100%;
	margin-bottom: 20px;
	min-height: 200px;
	overflow: hidden;
}
.new_right{
	height: 250px;
}
/*蔬菜动态图*/
.bxslider li img{
	width: 100%;
	height: 70%;
}

/*专业护理文章标题*/

.HLlist dd {
	border-bottom: 1px solid #e5e5e5;
	height: 43px;
	line-height: 43px;
	padding-left: 2%;
}

.titleBox {
	margin-bottom: 12px;
	border-bottom: 1px solid #D3D3D3;
	width: 100%;
}

.CHlist dt {
	height: 90px;
	border-bottom: 1px solid #E5E5E5;
	margin-bottom: 4px;
	padding-bottom: 16px;
}

.CHlist dt h2 {
	height: 28px;
	line-height: 28px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	width: 60%;
}

#description p {
	font-size: 12px;
	line-height: 22px;
	width: 60%;
	word-break: break-all;
	text-overflow: ellipsis;
	display: -webkit-box !important;
	/** 将对象作为伸缩盒子模型显示 **/
	-webkit-box-orient: vertical;
	/** 设置或检索伸缩盒对象的子元素的排列方式 **/
	-webkit-line-clamp: 2;
	/** 显示的行数 **/
	overflow: hidden;
	/** 隐藏超出的内容 **/
}

#description a {
	font-size: 12px;
	line-height: 22px;
	color: #228B22;
}

.CHlist dt img {
	float: left;
	margin-right: 3%;
	margin-left: 2%;
}

.CHlist #scrollBox {
	height: 120px;
	line-height: 30px;
	overflow: hidden;
	padding-left: 3%;
}

.CHlist #scrollBox ul li {
	list-style-image: url(../images/pointer.png);
	list-style-position: inside;
	height: 30px;
	width: 80%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.new #scrollBox {
	font-size: 4vw;
}


/*长者风采*/

.zzfc {
	height: 240px;
	margin-bottom: 10px;
	border-bottom: 1px solid #e5e5e5;
}

.zzfc .zzfc_box {
	margin: 0 5px;
	overflow: hidden;
	height: 200px;
	position: relative;
}

#scrollPic {
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 190px;
	left: 0px;
	top: 0;
}

#scrollPic ul li {
	display: inline;
	float: left;
	text-align: center;
	backface-visibility: hidden;
}

#scrollPic ul li img {
	border: none;
	display: block;
	width: 235px;
	height: 160px;
	margin: 0 10px 10px;
	transition: all 0.2s ease-in-out 0s;
	backface-visibility: hidden;
}

#scrollPic ul li:hover img {
	border: none;
	transform: translate(0px) scale(1.05, 1.05);
}

#scrollPic ul li .pic_name {
	display: block;
	line-height: 20px;
}

#scrollPic ul li:hover .pic_name {
	color: #228B22;
	text-decoration: none;
	font-weight: 600;
}


/*环境environment*/

.environment {
	border-bottom: 1px solid #E5E5E5;
	height: 320px;
	/*margin-bottom: 20px;*/
	width: 100%;
}

.environment ul li img {
	transition: all 0.2s ease-in-out 0s;
}

.environment ul li:hover img {
	transform: translateZ(0px) scale(1.05, 1.05);
}

.environment03,
.environment04,
.environment05,
.environment06 {
	display: none;
}

.environment01,
.environment02,
.environment07,
.environment08 {
	float: left;
	box-sizing: border-box;
	width: 50%;
	height: 150px;
	display: block;
	overflow: hidden;
}

.environment01 {
	background-color: #228B22;
	position: relative;
	text-align: center;
}

.environment01 a {
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}

.environment01 a:hover {
	text-decoration: none;
}

.environment01 span {
	color: #fff;
	font-size: 6vw;
	line-height: 22px;
}

.environment08 {
	background-color: #999;
	text-align: center;
	position: relative;
}

.environment08 a {
	position: absolute;
	color: #fff;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	font-size: 6vw;
	line-height: 22px;
}

.environment08 a:hover {
	background-color: #FF6347;
	text-decoration: none;
}

.environment02 img,
.environment07 img {
	width: 100%;
	height: 100%;
}

.environment ul li p a {
	display: none;
}


/*展示图片详细信息*/

.environment li:hover .henfan {
	display: none;
}


/*历史信息*/

.history {
	width: 100%;
	overflow: hidden;
	background-color: #E5E5E5;
	padding-bottom: 10px;
	/*margin-bottom: 30px;*/
}

.history h4 {
	font-size: 6vw;
	line-height: 3rem;
	/*transform: scale(1.5);*/
	text-align: center;
	color: #228B22;
	/*margin-bottom: 3%;*/
}

.history .history_pic {
	/*height: 60px;*/
	margin-bottom: 5px;
}

.history .history_pic li {
	display: block;
	height: 60px;
	width: 48%;
	float: left;
	margin: 1%;
	box-sizing: border-box;
}

.history .history_pic li span {
	display: block;
	float: left;
	background-image: url(../images/icon.png);
	width: 60px;
	height: 60px;
	margin-right: 5%;
}

.history .history_pic01 span {
	background-position: 0 -352px;
}

.history .history_pic02 span {
	background-position: -60px -352px;
}

.history .history_pic03 span {
	background-position: -120px -352px;
}

.history .history_pic04 span {
	background-position: -180px -352px;
}

.history .history_pic li em {
	display: block;
	float: left;
	padding-top: 4px;
	font-style: normal;
	font-size: 4vw;
	line-height: 1.5rem;
	color: #666;
}

.history .history_text {
	display: none;
	text-indent: 2em;
	font-size: 18px;
	color: #228B22;
	width: 980px;
	padding: 10px;
}

#to_top {
	display: none;
	background: url(../images/top_bg.png) no-repeat left top;
	width: 40px;
	height: 40px;
	position: fixed;
	left: 50%;
	margin-left: 510px;
	bottom: 60px;
	display: none;
}

#to_top:hover {
	background: url(../images/top_bg.png) no-repeat 0 -40px;
}

.footer {
	width: 100%;
	background-color: #30393A;
	display: block;
	padding: 20px 0;
	overflow: hidden;
	text-align: center;
	font-size: 3vw;
}

.footer a,
.footer span {
	display: block;
	margin: 0 auto;
	width: 99%;
}

.copyright,
.icp,
.zgwba {
	color: #C0C0C0;
}

.copyright i {
	color: #FFFFFF;
	font-style: normal;
}

.github {
	color: #C0C0C0;
}

.zgwba img {
	float: none;
	position: relative;
	top: 3px;
}

.zgwba p {
	display: inline-block;
	float: none;
	margin-left: 5px;
}

.footer_text a:hover {
	text-decoration: none;
	color: #FFFFFF;
}

.masklayer {
	display: none;
	width: 100%;
	height: 100%;
	opacity: 0.7;
	filter: alpha(opacity=70);
	background-color: #000;
	overflow: hidden;
	z-index: 999;
	position: fixed;
	top: 0;
	left: 0;
}


/*——————————————————————————————————————————下面是content页面内容————————————————————————————————————————————————*/
.ad{
	display: none;
}

/*五张图片pages*/

.pages {
	display: none;
	height: 100px;
	margin-bottom: 20px;
	overflow: hidden;
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 20px;
}

.pages ul {
	width: 1000px;
	padding-left: 5px;
}

.pages ul li {
	display: block;
	float: left;
	margin-right: 10px;
	height: 100px;
	width: 190px;
}


/*内容大框content*/

.content {
	background-color: #fff;
	width: 100%;
	/*min-height: 600px;*/
	margin: 0 auto;
	/*overflow: hidden;*/
}


/*左边导航框*/

.content_l {
	display: none;
	float: left;
	width: 220px;
	height: 600px;
}

.content_l_list li {
	border-bottom: 1px solid #E5E5E5;
	height: 50px;
	width: 220px;
}

.content_l_list li a {
	background: url(../images/arrow.gif) no-repeat scroll 198px center;
	display: block;
	height: 50px;
	font: 18px/50px "微软雅黑";
	padding-left: 12px;
	text-decoration: none;
}

.content_l_list li a span {
	font-size: 12px;
	color: #a9a9a9;
	margin-left: 12px;
	font-family: arial, helvetica, sans-serif;
}

.content_l_list li a:hover,
.content_l_list li a:active {
	transition: padding-left 0.3s linear 0s;
	padding-left: 20px;
	text-decoration: none;
	color: #fff;
	background: #228B22 url(../images/arrow2.gif) no-repeat scroll 198px center;
}

.content_l_list li a:hover span {
	color: #DCDCDC;
}

.content_right {
	overflow: hidden;
	min-height: 475px;
	/*padding-left: 20px;*/
	width: 96%;
	margin: 0 1%;
	font-size: 4vw;
	padding: 30px 2% 15px;
}

.content_right .load_img {
	margin: 200px auto;
	width: 37px;
	height: 37px;
	/*display: none;*/
	opacity: 0.3;
	-webkit-opacity: 0.3;
}

.content_right2 {
	overflow: hidden;
	height: 450px;
	/*padding-bottom: 30px;*/
	/*padding-left: 20px;*/
	width: 98%;
	display: none;
	margin: 0 1%;
}


/*——————————————————————————————————————————下面是personal_info个人页面内容————————————————————————————————————————————————*/


/*信息标题*/

.info_title {
	padding-left: 20px;
}

.info_title h3 {
	font: 20px/2 "微软雅黑";
	color: #228B22;
}

.info_title h3 a {
	font: 12px "微软雅黑";
	margin-left: 10px;
}


/*以下是修改信息页面*/


/*表格内容*/

.basicinfo_table {
	margin: 20px 20px 20px 10px;
}

.basicinfo_table table {
	width: 100%;
}

.basicinfo_table td {
	padding-bottom: 15px;
}

.basicinfo_table .txtinput {
	height: 25px;
	line-height: 25px;
	width: 150px;
	border: 1px solid #dadada;
	padding: 2px;
}

.basicinfo_table .txtinput:hover {
	border-color: #f5b937;
}

.birth {
	width: 105px;
	height: 18px;
	line-height: 18px;
	border: 1px solid #dadada;
	background: #fff url(../js/My97DatePickerBeta/My97DatePicker/skin/datePicker.gif) no-repeat right;
	cursor: pointer;
	border: 1px solid #dadada;
	padding: 2px 0;
}

.birth:hover {
	border-color: #228B22;
}

.select_small,
.select_big {
	padding: 2px 0;
	cursor: pointer;
}

.select_small {
	width: 65px;
}

.select_big {
	width: 105px;
}

.basicinfo_table select:hover {
	border-color: #228B22;
}

.basicinfo_title {
	width: 30%;
	line-height: 21px;
	padding-bottom: 15px;
	vertical-align: top;
	color: #444;
}

.td_crossline {
	border-width: 1px 0 0;
	border-color: #e0e0e0;
	border-style: solid;
	padding-top: 15px;
}

.btn_save {
	display: block; 
	width: 92px;
	height: 26px;
	padding: 0 7px;
	background-color: #7b8c9e;
	border: 1px solid #6d7c8c;
	color: #ffffff;
	margin: 0 auto;
	cursor: pointer;
}

.btn_save:hover {
	background-color: #6c7d8e;
}


/*dialog提示框的样式*/
.login_start{
	height: 32px;
	line-height: 32px;
	background-size: contain;
	display: block;
	text-align: center;
	width: 80%;
	margin: 0 auto;
	display: none;	
	background: url(../images/loading2.gif) no-repeat 0 0;
	line-height: 37px;
	background-position-x: 30%;
	margin: 0 auto;
}

.save_success,
.save_failed,
.save_start {
	height: 32px;
	line-height: 32px;
	background-size: contain;
	display: block;
	text-align: center;
	width: 80%;
	margin: 0 auto;
	display: none;

}
.save_success {
	background: url(../images/success32.png) no-repeat 0 0;
	background-size: contain;
}

.save_failed {
	background: url(../images/failed.png) no-repeat 0 0;
	background-size: contain;
}

.save_start {
	background: url(../images/loading2.gif) no-repeat 0 0;	
	line-height: 37px;
	padding-left: 40px;
    width: 150px;
    margin: 0 auto;
    background-size: contain;
}


/*以下是预览信息页面*/

.prev_title {
	margin-bottom: 10px;
}

.info_val {
	width: 60%;
	display: block;
}
.info_list{
	width: 100%;
	display: block;
	min-height: 300px;
}
.info_list li {
	margin-bottom: 10px;
	font-size: 16px;
	display: block;
	float: left;
	width: 100%;
}

.info_list li label {
	padding-left: 20px;
	width: 40%;
	height: 25px;
	line-height: 25px;
	display: block;
	font-weight: normal;
}


/*大头像*/

.pic_bigtx {
	padding: 2px;
	position: relative;
	margin: 5px 18px;
	width: 178px;
	height: 178px;
	border-radius: 3px;
	border: 1px solid #CCCCCC;
	overflow: hidden;
}

.pic_bigtx img {
	transition: all 0.2s ease-in-out 0s;
}

.pic_bigtx:hover img {
	transform: translateZ(0px) scale(1.1, 1.1);
}

.pic_bigtx .ghtx {
	background: #000 none repeat scroll 0 0;
	bottom: -40px;
	color: #fff;
	height: 40px;
	left: 3px;
	line-height: 40px;
	filter: alpha(Opacity=70);
	-moz-opacity: 0.7;
	opacity: 0.7;
	/*兼容所有浏览器的透明度*/
	position: absolute;
	text-align: center;
	width: 176px;
	font-size: 16px;
}

.pic_bigtx:hover .ghtx {
	bottom: 0px;
	text-decoration: none;
	z-index: 2;
	transition: all 0.2x ease-in-out 0s;
}


/*收费标准*/

.charges_table {
	margin-top: 10px;
	width: 100%;
	text-align: center;
}

.charges_table th,
.charges_table td {
	border: 1px solid #CCCCCC;
}

.charges_table th {
	height: 50px;
}

.charges_table td {
	height: 80px;
}


/*——————————————————————————————————————————下面是article.php个人页面内容————————————————————————————————————————————————*/

.a_title {
	font: 20px/20px "微软雅黑";
	text-align: center;
	border-bottom: 10px solid #808080;
	margin-bottom: 20px;
	padding-bottom: 5px;
	color: #808080;
}

.a_title span {
	color: #A9A9A9;
	font-size: 4vw;
	display: block;
}

.a_title2 {
	/*padding-left: 50px;*/
	display: block;
}

.a_content p {
	font-size: 5vw;
}


/*—————————————————————————————————————下面是myAccount.php我的账户的样式*————————————————————————————————————————————————*/

.balance_span {
	position: relative;
	display: inline-block;
	width: 118px;
	height: 38px;
	border: 1px solid #ccc;
	vertical-align: middle;
}

.balance_span:hover {
	border-color: #F06F11;
	border-radius: 3px;
}

.balance_input {
	width: 75px;
	height: 20px;
	padding: 8px 5px;
	margin: 0;
	border: none;
	outline: 0;
	line-height: 20px;
	color: #bbb;
}

.balance_text,
.balance_input {
	display: inline-block;
	vertical-align: middle;
}

.current_balance {
	color: #ff824d;
	font-size: 36px;
	margin: 10px 0;
	float: left;
}

.current_balance i {
	font-size: 16px;
	font-style: normal;
}

.shuaxin {
	cursor: pointer;
	float: left;
	height: 25px;
	margin-left: 20px;
	margin-top: 16px;
	width: 25px;
}

.rotate {
	transform: rotate(720deg);
	transition: all 3s;
}

#alertText {
	background: url(../images/chacha.png) no-repeat left;
	color: red;
	padding-left: 30px;
	display: none;
}

#alertText2 {
	background: url(../images/check.png) no-repeat left;
	color: #11cd6e;
	padding-left: 30px;
	display: none;
}

.current_balance_after {
	font-size: 16px;
	font-style: normal;
	color: #ff824d;
	padding-top: 16px;
	float: left;
}


/*—————————————————————————————————————下面是c_bjcs.php保健常识页面的样式*————————————————————————————————————————————————*/

.page_li {
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	padding: 5px 2px;
	height: 142px;
}

.page_title a {
	font-size: 18px;
	line-height: 30px;
	color: #228B22;
	height: 30px;
}

.page_title a:hover {
	text-decoration: none;
	color: #FF6347;
}

.page_title span {
	color: #FF6347;
	font-size: 12px;
	line-height: 12px;
	height: 12px;
}

.page_li p {
	width: 100%;
	text-indent: 2em;
	color: #8c8c8c;
	height: 100px;
}

.lbn {
	background: url(../images/lbn.png) no-repeat;
	display: none;
	height: 100px;
	width: 100px;
	position: fixed;
	border: 2px solid #ccc;
	right: 10px;
	bottom: 60px;
	border-radius: 50%;
	color: #E2E2E2;
	font: 24px "微软雅黑";
	text-align: center;
	transition: 0.5s;
}

.lbn:hover {
	text-decoration: none;
	color: #fff;
	font-weight: 500;
	box-shadow: 10px 10px 70px #000 inset;
	-webkit-box-shadow: 10px 10px 70px #000 inset;
}

.lbn p {
	line-height: 100px;
}