@charset "utf-8";
/*CSS reset*/
body,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,p,input,select,textarea,form{margin: 0; padding: 0;}
body{font-family: "微软雅黑",arial,simsun,Tahoma,sans-serif;font-size: 14px;line-height: 21px;}
h1,h2,h3,h4,h5,h6{font-size: 100%;font-weight: 700;}
img{border:none;}
ul,ol{list-style:none;}
input,select,textarea{outline:none;border:1px solid #A9A9A9;background:none;}/*万恶的ie6 \9代表所有的IE浏览器*/
textarea{resize:none;}
a{text-decoration:none;color: #666;}
a:hover{text-decoration: underline;}
a:active, a:hover{outline:none;color: #FF6347;}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0; border:0;}

/*清浮动*/
.clearfix:after{content:"";*display:block;*clear:both;}
.clearfix{zoom:1;}

.fl{float: left;}
.fr{float: right;}

/*应付bootstarp的CSS冲突*/
*{box-sizing: content-box;}/*采用css原先的边框模式,在宽度和高度之外绘制元素的内边距和边框*/
@media only screen and (max-width: 480px) {
	*{box-sizing: border-box;}
}