@charset "utf-8";
/*CSS reset*/
body,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,p,input,select,textarea,form{margin: 0; padding: 0;}
body{font-family: "微软雅黑",arial,simsun,Tahoma,sans-serif;font-size: 14px;line-height: 21px;}
h1,h2,h3,h4,h5,h6{font-size: 100%;font-weight: 700;}
img{border:none;}
ul,ol{list-style:none;}
input,select,textarea{outline:none;border:none;}/*万恶的ie6 \9代表所有的IE浏览器*/
textarea{resize:none;}
a{text-decoration:none;color: #666;}
a:hover{text-decoration: underline;}
a:active, a:hover{outline:none;color: #FF6347;}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0; border:0;}

/*清浮动*/
.clearfix:after,.clearfix:before{content: ""; display: table;}
.clearfix:after{ clear: both;}
.clearfix{zoom:1;}
.fl{float: left;}
.fr{float: right;}

